@use "../../../assets/styles/utils/variables" as *;
@use "../../../assets/styles/utils/mixins" as *;
@use "../../../assets/styles/utils/functions";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: #ffc0cb;
  border-radius: 4px;
  color: $color-black;
  font-size: 18px;
  line-height: 1.5;
}
