---
// Data & Types

// Component
import Container from '@components/Container/Container'
import Counter from '@vue/Counter/Counter'
import Main from '@layouts/Main/Main'
---

<Main title="Affarts — UX/UI, Дизайн, Разработка для ваших продуктов">
  <Container mod="big">
    <h1>Main page</h1>
    <Counter client:load />
  </Container>
</Main>
