---
// Data & Types

// Component
import Container from '@components/Container/Container'
import Main from '@layouts/Main/Main'
import Counter from 'src/components/Counter/Counter.vue'
---

<Main title="Affarts — UX/UI, Дизайн, Разработка для ваших продуктов">
  <Container>
    <h1>Main page</h1>
    <Counter client:load />
  </Container>
</Main>
