// Font
$default-font-size: 16px;
$font-main: "ALSHauss", sans-serif;

// Screen sizes
$screen-1920: 1920px;
$screen-1536: 1536px;
$screen-1440: 1440px;
$screen-1024: 1024px;
$screen-768: 768px;
$screen-576: 576px;
$screen-414: 414px;
$screen-375: 375px;

:root {
  --header-height: calc(60 / 16 * 1rem);
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: calc(90 / 16 * 1rem);
  }
}

// Other
$transition: 0.3s ease;
$height-100vh: calc(100 * var(--doc-height, 1vh));
$height-header: var(--header-height);
$height-footer: var(--footer-height);
